.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(290deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
  max-height: 70px;
}

/*
  TODO
+ MODIFY HEADER LINK DISPOSITION FOR MOBILE DEVICE
*/

.header img {
  object-fit: cover;
}

.header_logo {
  object-fit: cover;
}

.menu {
  display: flex;
  gap: 2rem;
  cursor: grab;
}


.menu > p {
  color: #212325;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: #212325;
}

.form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #212325;
  z-index: 11111;
}

.form_inner {
  width: 40%;
  padding-top: 2.5rem;
  margin: 0 auto;
}

/*
: MEDIA QUERY
*/
@media screen and (max-width: 50em) {
  .header {
    justify-content: space-between;
    gap: 2rem;
  }
  
  .menu {
    gap: 1.5rem;
  }

  .form_inner {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 37.5em) {
  .menu {
    gap: 1rem;
    display: flex;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;
  }

  .header img {
    width: 45px;
    height: 45px;
  }
}