.container {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  background-image: linear-gradient(180deg, var(--primary) 0%, var(--accent) 46.60%, var(--secondary-variant) 100%);
  margin: 1rem 0 1rem 0.8em;
}

.header {
  flex: 1;
  width: 100%;
  border: 2px solid rgb(202, 119, 215);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header svg {
  height: 100px;
}

.header p {
  text-align: center;
  color: var( --bg-accent);
}

.footer {
  background-color: var( --bg-accent);
  width: 95%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  border: none;
}

.footer svg {
  height: 60%;
  fill: var(--text);
  background-color:var(--text);
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
  flex: 1;
  text-align: center;
}

.file {
  display: none;
}

.image {
  border-radius: 0.5rem;
}

/*: MEDIA QUERIES */ 

@media screen and (max-width: 50em) {
  .container {
    margin: auto 0 auto 0.9em;
  }
}

@media screen and (max-width: 37.5em) {
  .container {
    width: 350px;
    height: 300px;
  }

  .footer p {
    flex: 1;
    text-align: center;
  }
}

@media screen and (max-width: 35em) {

  .container {
    width: 90%;
    height: 240px;
    margin: 0;
    /*
    + CHECK RESULT */
    margin-top: auto;
  }

  .footer {
    font-size: 0.8rem;
  }

  .footer p {
    flex: 1;
    text-align: center;
  }
}