.container {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  background-image: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  margin: auto 0 auto 0.8em;
}

.header {
  flex: 1;
  width: 100%;
  border: 2px solid rgb(202, 119, 215);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header svg {
  height: 100px;
}

.header p {
  text-align: center;
  color: #212325;
}

/*
  TODO
+ RESTART HERE FOR CONTINUE ADJUSTING STYLE

.footer svg {
  background-color: #F9B5BC;
  border-radius: 50%;
  padding: 2px 5px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(137, 137, 137, 0.205);
}
*/

.footer {
  background-color: #212325;
  width: 95%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
}

.footer svg {
  height: 60%;
  fill: #FFF;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
  flex: 1;
  text-align: center;
}

.file {
  display: none;
}

.image {
  border-radius: 0.5rem;
}

/*: MEDIA QUERIES */ 

@media screen and (max-width: 50em) {

  .container {
    margin: 0;
  }
}