.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.4rem;
  background: #212325;
  border-radius: 20px;
}

.heading {
  text-align: center;
  margin: 2rem;
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
}

.content {
  -webkit-background-clip: text;
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 20px;
  padding: 0.6rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: #212325;
  box-shadow: 2px 5px 10px rgba(5, 5, 5);
}

.input_icon {
  height: 1.3rem;
  width: 1.3rem;
  fill: #8CEDE9;
}

.input_field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #F9B5BC;
  height: 3rem;
}

.textarea {
  height: 6rem;
  resize: none;
}