.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.4rem;
  background: #212325;
  border-radius: 20px;
}

.heading {
  text-align: center;
  margin: 2rem;
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
}

.content {
  -webkit-background-clip: text;
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 20px;
  padding: 0.8rem; /* 0.6rem */
  border: none;
  outline: none;
  color: #fff;
  background-color: #212325;
  box-shadow: 2px 5px 10px rgba(5, 5, 5);
}

/*
  TODO -> RESTART HERE
+ CHANGING STYLE FOR INPUT PASSWORD 
*/

.field span {
  position: absolute;
  left: 30px;
  margin-left: 25px;
  font-size: 13px;
}

.input_icon {
  height: 1.3rem;
  width: 1.3rem;
  fill: #8CEDE9;
}

.input_field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #F9B5BC;
  height: 3rem;
}

.textarea {
  height: 6rem;
  resize: none;
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.form .btn_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.first_button {
  padding: 0.7rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  border: none;
  font-size: 0.9rem;
  outline: none;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  color: rgb(0, 0, 0);
}

.first_button:hover {
  background-image: linear-gradient(180deg, #75EEBB 100%, rgba(33, 35, 37, 0.50) 0%);
  color: #212325;
}

.second_button {
  padding: 0.7rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  font-size: 0.870rem;
  border-radius: 5px;
  border: none;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  color: #000;
}
.second_button:hover {
  background-image: linear-gradient(180deg, #75EEBB 100%, rgba(33, 35, 37, 0.50) 0%);
}

.third_button {
  margin-bottom: 1.5rem;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  outline: none;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  color: rgb(0, 0, 0);
}

.third_button:hover {
  background: linear-gradient(180deg, #75EEBB 100%, rgba(33, 35, 37, 0.50) 0%);
  color: #212325;
}

.container {
  background-image: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.content {
  border-radius: 0;
  transition: all 0.2s;
  border-radius: 21px;
}

.content:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.container:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
}