.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.4rem;
  background: #212325;
  border-radius: 20px;
}

.heading {
  text-align: center;
  margin: 2rem;
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
}