.footer {
  width: 100%;
  padding-block: 1.5rem;
  position: relative;
  margin-top: 10rem;
}

.footer_container_social_info {
  font-size: 0.9rem;
  margin-top: 4rem;
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_social_icon {
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_container {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 1.3fr 1fr 2fr;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

/*: SOCIAL */
.footer_social {
  display: flex;
  gap: 1.3rem;
  font-size: 1.3rem;
  align-items: center;
}

.footer_social a {
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  display: grid;
  color: #8CEDE9;
}

.footer_social a:hover {
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  color: #212325;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.menu {
  font-size: 0.92rem;
}



.footer_container_help, 
.subscribe h3 {
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_container_help h3 {
  font-size: 1.1rem;
}

.subscribe_container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  color: #212325;
  border-radius: 5rem;
  margin-top: 3rem;
}

.subscribe_container input {
  background: transparent;
  border: none;
  outline: none;
  width: 95%;
  color: #212325;
}

.subscribe_container input::placeholder {
  color: #212325;
}

.subscribe_container_email {
  cursor: pointer;
  font-size: 1.5rem;
}

.subscribe_container_info {
  padding: 1rem 0.5rem;
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.9rem;
}


/*: MEDIA QUERY */
@media screen and (max-width: 55em) {
  .subscribe_container input {
    font-size: 0.7rem;
    padding: 0;
  }

  .subscribe_container_email {
    font-size: 1.1rem;
  }

}

@media screen and (max-width: 50em) {
  .footer_container {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .subscribe_container_info {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 35em) {
  .footer_container {
    width: 95%;
    grid-template-columns: 1fr;
  }

  .footer_container_help {
    font-size: 0.9rem;
  }

  .subscribe_container_info {
    font-size: 0.9rem;
  }
}