.alert {
  padding: 12px;
  background: linear-gradient(180deg, #AE99FF 0%, #8CEDE9 46.60%, #F9B5BC 100%);
  color: #212325;
  position: fixed;
  top: 8rem;
  right: 11vw;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 111111111;
  font-size: 15px;
}

.close_button {
  margin-left: 15px; /*: Space between icon and text */
  color: #212325;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 23px;
  transition: 0.3s;
}

.close_button:hover {
  color: #FFFFFF;
}

/*
: MEDIA QUERY */
@media screen and (max-width: 50em) {
  .alert {
    top: 2rem;
    right: 6vw;
  }
}

@media screen and (max-width: 37.5em) {
  .alert {
    width: 83%;
    margin-left: auto;
    left: 1rem;
  }
}

@media screen and (max-width: 24em) {
  .alert {
    width: 80%;
    left: 0.8rem;
  }
}