@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --gradient:linear-gradient(180deg, #F9B5F9 0%, #AE99FF 46.35%, #8CEDE9 94.27%);
}

body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/*: HOME PAGE :*/
.home {
  width: 80%;
  margin : 0 auto;
  margin-block: 3rem;
}

.header {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

/*: UPLOAD :*/
.upload {
  width: 100%;
  height: 100%;
  background: var(--gradient);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5%;
}

.upload_info h1 {
  color: #212325;
}

.upload_info p {
  width: 90%;
  color: #212325;
}

.subheading {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*: CARD IMAGE */
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.avatar {
  display: flex;
  gap: 2rem;
}

.avatar_image {
  border-radius: 0.5rem;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px #AE99FF;
}

.profile {
  border-radius: 1rem;
  background: #1a1a1a70;
  display: grid;
  place-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 222222;
  width: 100%;
  height: 100%;
}

/*: LOADER :*/
.loader {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50);
  background-color: #1a1a1ad2;
  z-index: 22222;
}

/*: FORM */
.form {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #1a1a1ad2;
  top: 0;
  left: 0;
  z-index: 22222;
}

.form_inner {
  width: 40%;
  padding-top: 1rem;
  margin: 0 auto;
}

/*: NFT PAGE CONTENT */
.nft_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.nft_body p {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nft_title {
  background: var(--gradient);
  padding: 1rem;
  border-radius: 0.5rem;
}

/*: MEDIA QUERIES */ 

@media screen and (max-width: 50em) {

  .header h1 {
    font-size: 2.3rem;
  }

  .card {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .upload {
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top: 1rem;
  }

  .upload_info {
    padding: 1rem 1rem 0.5rem 1rem;
  }

  .upload_info h1 {
    margin-top: 1.5rem;
  }
  


  .form_inner {
    width: 100%;
    padding: 0;
  }

  .nft_body {
    grid-template-columns: 1fr;
  }
}

/*
TODO 
+ FINISH STYLE FOR HOME PAGE
+ HEADER 
+ UPLOAD MOBILE & TABLET
*/

@media screen and (max-width: 37.5em) {
  .home {
    width: 90%;
  }

  .header h1 {
    font-size: 1.9rem;
  }

  .upload {
    grid-template-columns: 1fr;
    justify-content: center;
    padding-top: 1rem;
  }

  .upload_info h1 {
    margin-top: 1rem;
    color: #212325;
    font-size: 1.5rem;
  }

  .upload_info p {font-size: small;}

  .card {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .subheading {
    font-size: 1.3rem;
  }

  .form_inner {
    width: 100%;
    padding: 0;
  }

  .nft_body {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 35em) {
  .home {
    width: 90%;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .upload {
    grid-template-columns: 1fr;
    justify-content: center;
    place-items: center;
    padding-top: 0.2rem;
  }

  .upload_info {
    padding: 1rem 1rem 0rem 0.5rem;
  }

  .upload_info h1 {
    margin-top: 0rem;
    font-size: 1rem;
  }

  .card {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .subheading {
    font-size: 1.3rem;
  }

  .form_inner {
    width: 100%;
    padding: 0;
  }

  .nft_body {
    grid-template-columns: 1fr;
  }
}