/* #F9B5F9, #AE99FF, #8CEDE9 */

body {
  background-color: #1a1a1a;
  color: #fff;
}

/*: HOME PAGE :*/
.home {
  width: 70%;
  margin : 0 auto;
  margin-block: 3rem;
}

.header {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

/*: UPLOAD :*/
.upload {
  width: 100%;
  background: linear-gradient(180deg, #F9B5F9 0%, #AE99FF 46.35%, #8CEDE9 94.27%);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
}

.upload-info h1 {
  margin-top: 8rem;
  line-height: 0.5;
}

.upload-info p {width: 92%;}

.subheading {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*: CARD IMAGE */
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.avatar {
  display: flex;
  gap: 2rem;
}

.avatar_image {
  border-radius: 0.5rem;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px #AE99FF;
}

.profile {
  border-radius: 1rem;
  background: #1a1a1a70;
  display: grid;
  place-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50);
  z-index: 222222;
  width: 100%;
  height: 100%;
}

/*: LOADER :*/
.loader {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50);
  background-color: #1a1a1ad2;
  z-index: 22222;
}

/*: FORM */
.form {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #1a1a1ad2;
  top: 0;
  left: 0;
  z-index: 22222;
}

.form_inner {
  width: 40%;
  padding-top: 1rem;
  margin: 0 auto;
}

/*: NFT PAGE CONTENT */
.nft_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.nft_body p {
  background: linear-gradient(180deg, #F9B5F9 0%, #AE99FF 46.35%, #8CEDE9 94.27%);
  --webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nft_title {
  background: linear-gradient(180deg, #F9B5F9 0%, #AE99FF 46.35%, #8CEDE9 94.27%);
  padding: 1rem;
  border-radius: 0.5rem;
}

/*: MEDIA QUERIES */ 

@media screen and (max-width: 55em) {
  .card {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .upload {
    grid-template-columns: 1fr;
    justify-content: center;
    place-items: center;
    padding-top: 1rem;
  }

  .upload-info {
    padding: 1rem;
  }

  .upload-info h1 {
    margin-top: 0rem;
    font-size: 1.2rem;
  }

  .form_inner {
    width: 100%;
    padding: 0;
  }

  .nft_body {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 45em) {
  .home {
    width: 90%;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .upload {
    grid-template-columns: 1fr;
    justify-content: center;
    place-items: center;
    padding-top: 1rem;
  }

  .upload-info h1 {
    margin-top: 0rem;
    font-size: 1.3rem;
  }

  .card {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .subheading {
    font-size: 1.3rem;
  }

  .form_inner {
    width: 100%;
    padding: 0;
  }

  .nft_body {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 35em) {
  .home {
    width: 90%;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .upload {
    grid-template-columns: 1fr;
    justify-content: center;
    place-items: center;
    padding-top: 1rem;
  }

  .upload-info {
    padding: 1rem;
  }

  .upload-info h1 {
    margin-top: 0rem;
    font-size: 1.3rem;
  }

  .card {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .subheading {
    font-size: 1.3rem;
  }

  .form_inner {
    width: 100%;
    padding: 0;
  }

  .nft_body {
    grid-template-columns: 1fr;
  }
}